<div class="private-container">
  <h1>Benvenuto nella tua area privata!</h1>

  <!-- Sezione Acquisti -->
  <div class="section">
    <h2>I tuoi acquisti:</h2>
    <div *ngIf="acquisti.length > 0; else noAcquisti" class="grid-container">
      <div *ngFor="let acquisto of acquisti" class="grid-item">
        <img [src]="acquisto.immagine" [alt]="acquisto.nome" class="item-image" />
        <div class="item-info">
          <p class="item-name">{{ acquisto.nome }}</p>
          <p class="item-price">Prezzo: {{ acquisto.prezzo | currency: 'EUR' }}</p>
          <p>Taglia: {{ acquisto.taglia }}</p>
          <p>Colore: {{ acquisto.colore }}</p>
        </div>
      </div>
    </div>
    <ng-template #noAcquisti>
      <p class="no-items">Non hai effettuato acquisti.</p>
    </ng-template>
  </div>
<hr>
  <!-- Sezione Preferiti -->
  <div class="favorites">
    <h2>I tuoi Preferiti</h2>
    <div *ngIf="favorites.length > 0; else noFavorites" class="grid-container">
      <div *ngFor="let item of favorites" class="grid-item">
        <img [src]="item.immagini[0]" [alt]="item.nome" class="item-image" />
        <div class="item-info">
          <p class="item-name">{{ item.nome }}</p>
          <p class="item-price">Prezzo: {{ item.prezzo | currency: 'EUR' }}</p>
          <button (click)="navigateToProduct(item.id)" class="details-button">
            Dettaglio
          </button>
          <button (click)="removeFromFavorites(item.id)" class="remove-button">
            Rimuovi
          </button>
        </div>
      </div>
    </div>
    <ng-template #noFavorites>
      <p class="no-favorites">Non hai ancora aggiunto prodotti ai preferiti.</p>
    </ng-template>
  </div>
</div>
